language: python
cache:
    directories:
        $HOME/.cache/pip
python: 3.5
sudo: false
addons:
    apt:
        packages:
            - libzookeeper-mt-dev
env:
    - TOX_ENV=py27
    - TOX_ENV=py35
    - TOX_ENV=pypy
    - TOX_ENV=flake8
install:
    - pip install -U pip
    - pip install tox
script:
    - tox -e $TOX_ENV
deploy:
    provider: pypi
    user: windreamer
    password:
        secure: oOvA3FYYL518XSnZwbGfykxpcqpEIbDJTAh+sg3WeoIXDZzYG6vHkEDBpUDVZb/QEKQ9SlAiPDkZwT3I0b5IN7+pf//UHrN/By99ENqNpK3W9I1GYIOAO6NUwqM3/hmAROppA7Qs5C7A3b++f+0RCLvuf2xQYjQTttU+QI5zc9U=
    on:
        tags: true
        repo: douban/pymesos
