addict==2.2.1
coverage==4.2
funcsigs==1.0.2
-e git+https://github.com/benoitc/http-parser.git@d6ce4b5c58e68d5cf3be0676d9b97c3bd9ca88df#egg=http-parser
mock==2.0.0
pbr==1.10.0
py==1.4.31
pytest==3.0.2
pytest-cov==2.3.1
pytest-mock==1.2
pytest-randomly==1.1.0
pytest-runner==2.9
six==1.10.0
zkpython==0.4.2
kazoo==2.7.0
